version: "3.9"
services:
  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: $PG_USERNAME
      POSTGRES_PASSWORD: $PG_PASSWORD
      POSTGRES_DB: $PG_NAME
    ports:
      - '5432:5432'
  dfe_chatbot:
    build: .
    environment:
      PG_USERNAME: $PG_USERNAME
      PG_PASSWORD: $PG_PASSWORD
      PG_NAME: $PG_NAME
      PG_HOST: postgres
      PG_PORT: $PG_PORT
    depends_on:
      - postgres
    stdin_open: true
    tty: true
